@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Heebo';
	vertical-align: baseline;
    box-sizing: border-box;
    color: #21243D;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100%;
    font-size: 16px;
}
html {
    height: 100%;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
    text-decoration: none;
    color: #000;
}
.pointer {
    cursor: pointer;
    transition: all 0.5s ease;
}
.pointer:hover {
    opacity: 0.8;
}
.pointer:active {
    opacity: 1;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
._home-container {
    max-width: 856px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}
._others-container {
    max-width: 681px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}
.head-nav ul {
    display: flex;
    margin-top: 27px;
    margin-right: 60px;
}
.head-nav li+li  {
    margin-left: 33px;
}
.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: end;
    transition: all 0.3s ease;
}
.nav-href {
    font-weight: 500;
    text-align: right;
    font-size: 20px;
}
.nav-href:hover {
    color: #FF6464;
}
.nav-href {
    transition: all 0.3s ease;
    cursor: pointer;
}
main {
    flex: 1 1 auto;
}
.footer-block {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 54px;
}
.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}
.footer-links a + a {
    margin-left: 35px;
}
.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.footer-links a {
    transition: 0.4s ease;
}
.footer-links a:hover {
    opacity: 0.7;
}
.nav-menu {
    background-color: #0000;
    border: none;
    padding: 20px;
}
.header-burger {
    display: none;
}
@media (max-width: 767px) {
    .header-burger {
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        right: 20px;
        top: 20px;
    }
    .header-burger::before,
    .header-burger::after {
        content: '';
        background-color: #21243D;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }
    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active span {
        opacity: 0;
    }
    .header-burger span {
        position: absolute;
        background-color: #21243D;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease;
    }
    .head-nav {
        background-color: rgb(232, 232, 232);
        width: 100%;
        height: 100%;
    }
        .head-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
    }
    .nav-menu {
        display: flex;
        padding-top: 50px;
        margin-left: 25px;
    }
    .head-nav li + li {
        margin-left: 0px !important;
        padding-left: 40px;
    }
    .nav-pointer a {
        font-size: 17px;
    } 
       .head-nav {
        position: relative;
        top: -500px;
    }
    .head-nav.active {
        top: 0;
    }
    }

    @media (max-width: 270px) {
        .head-nav li + li {
            padding-left: 10px !important;
        }
    }
    @media (max-width: 150px) {
        .nav-menu {
            flex-wrap: wrap;
        }
    }