.work-detail-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .work-detail-column .work-detail-heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    margin-top: 78px;
    margin-bottom: 30px; }
  .work-detail-column img {
    width: 100%; }
  .work-detail-column .work-detail-date .work-detail-year {
    font-weight: 900;
    color: white;
    font-size: 18px;
    background-color: #ff7c7c;
    border-radius: 16px;
    padding: 0 10px; }
  .work-detail-column .work-detail-date .work-detail-date-description {
    margin-left: 17px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px; }
  .work-detail-column .work-detail-heading-description {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 23px;
    margin-bottom: 46px; }
  .work-detail-column .work-detail-block {
    margin-top: 57px; }
    .work-detail-column .work-detail-block .work-detail-block-heading-1 {
      font-size: 30px;
      font-weight: 500;
      line-height: 60px; }
    .work-detail-column .work-detail-block .work-detail-block-heading-2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 60px; }
    .work-detail-column .work-detail-block .work-detail-images-3 {
      margin-top: 27px; }

.footer-links {
  margin-top: 78px; }
